<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <% if (!products.length < 1 || !products) { %>
        <ul>
     <% products.forEach((element,i) => { %>
        <li>Produk <%= i+=1 %>:<%= element.name %></li>
        <li>Id: <%= element._id %></li>
        <a href="/contact/<%= element._id %>">Details</a>
        <% }) %>
    </ul>
    <% } %>

    <form action="/home" method="post" style="display: flex; flex-direction: column; width: fit-content; gap: 2vh;">
        <label for="name">Nama: </label>
        <input type="text" name="name" id="name" required>
        <label for="harga">Harga: </label>
        <input type="text" name="harga" id="harga" required>
        <button type="submit">Send</button>
    </form>

</body>
</html>