<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

  <h1 style="font-size: 4vw;">Protopler Inventori Parfum.</h1>

    <form action="/home" method="post" style="display: flex; flex-direction: column; width: fit-content; gap: 2vh;">
        <label for="name">Nama: </label>
        <input type="text" name="name" id="name" required>
        <label for="harga">Harga: </label>
        <input type="text" name="harga" id="harga" required>
        <button type="submit">Send</button>
    </form>

    <% if (!products.length < 1 || !products) { %>
        <% products.forEach((element,i) => { %>
            <ul>
        <li>Produk <%= i+=1 %>: <%= element.name %></li>
        <a href="/contact/<%= element._id %>">Details</a>
        </ul>
        <% }) %>
    <% } %>

</body>
</html>